
body{
   background: rgb(95,158,160);
}
form{
   width: 671px;
   margin: auto;
}
form button{
   float: right;
   margin-top:5px;
}
table{
   border-collapse: collapse;
   /* margin-top:40px; */
   width:671px;
   margin: 40px auto;
   background: white;
}

table, td, th {
   border: 1px solid black;
}
#monthlyCosts{
   text-align: right;
}
.red{
   background: rgb(205,92,92);
}
.delete{
   justify-content: center;
}